<div id="about_student">
<div class="card student_card">
  <div class="image">
    <img id="student_image" src="https://semantic-ui.com/images/avatar2/large/kristy.png">
  </div>
  <div class="content">
    <a class="student_header"><%= @student.f_name %> <%= @student.l_name %></a>
    <div class="student_meta">
      <span class="student_date">Joined in <%= @student.created_at %></span>
    </div>
    <div class="student_description">
      <%= @student.l_name %> is an <%= @title %> living in <%= @location %>
    </div>
  </div>
  <div class="extra content student_extra_content">
    <a>
      <i class="star icon user_icon"></i>
       <%= @points %> grades
    </a>
  </div>
</div>
    <div class="student_data">
        <label> First Name</label>
        <h3 id="student_username"><%= @student.f_name %></h3>
        <label> Last Name</label>
        <h3 id="student_username"><%= @student.l_name %></h3>
        <label> Birthday</label>
        <h3 id="student_username"><%= @student.birthday %></h3>
        <label> Education</label>
        <h3 id="student_username"><%= @student.education %></h3>
        <label> Cohort</label>
        <h3 id="student_username"><%= Course.first.name %></h3>
    </div>
</div>
